<<<<<<< HEAD

* {
  font-family: 'Times New Roman', Times, serif;
  color: blueviolet;
}

p {
  font-style: italic;
}
=======
* {
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: blueviolet;
}

p {
  font-style: italic;
  color: green;
}
>>>>>>> aa9d13777b4e51b3d10b6a3df46f5dbc0fb0c2e0
