th {
    font-family: 'Times New Roman', Times, serif;
    color: white;
    font-style: italic;
    font-size: 25px;
    background-color: red;
  }
body{
  background-image: url(images/fundo.jpg );
}
  
 tr {
    font-family: cursive;
    font-style: unset;
    color: black;
    background-color: white;
    
    
  }
  table{
    text-align: center;
  }
  button {
    background-color: tomato;
  }